<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="xs" type="BugsBox.Application.Core.XsSection, BugsBox.Application.Core" />
    <section name="DQConfig" type="BugsBox.Application.Core.Configuration.DQConfig,BugsBox.Application.Core" requirePermission="false" />
  </configSections>
  <DQConfig>
    <!-- 控制出库复核打印单是否显示保管员和复核员-->
    <Report DisplayKeeper="False" DisplayChecker="False" />
    <!-- 控制采购退货申请tab页Title的显示,如果配置为空则使用程序里的默认标题，否则使用配置的标题-->
    <ReturnOrderPageName qualityTabPage="业务科长意见" generalMangerTabPage="质管科长意见" tabPage1="质量负责人意见" field1="业务科长" field2="质管科长" field3="质量负责人"></ReturnOrderPageName>
  </DQConfig>
  <xs>
    <include assembly="BugsBox.Pharmacy.Models" />
    <include assembly="BugsBox.Application.Core" />
    <include assembly="BugsBox.Pharmacy.AppClient.Common" />
    <include assembly="BugsBox.Pharmacy.Business.Models" />
  </xs>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %c %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\BugsBox.Pharmacy.AppClient.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="512KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;" />
        <footer value="[###############- L O G   E N D -###############]&#xD;&#xA;" />
        <ConversionPattern value="%date [%thread] %-5level %logger [%c] %newline %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="AppNameSpace" value="BugsBox.Pharmacy.AppClient"></add>
    <add key="Menu" value="BugsBox.Pharmacy.AppClient.Menu_new.xml"></add>
    <add key="Warn" value="BugsBox.Pharmacy.AppClient.Warn.xml"></add>
    <add key="printset" value="BugsBox.Pharmacy.AppClient.printSet.xml"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MutexName1" value="qwertyuiol,mnbvghyuk," />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NetTcpBinding_IPharmacyDatabaseServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPharmacyDatabaseService" closeTimeout="00:01:00" openTimeout="10:10:10" receiveTimeout="10:10:10" sendTimeout="10:10:10" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="0" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="10:10:10" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:5561/PharmacyDatabaseService" behaviorConfiguration="NetTcpBinding_IPharmacyDatabaseServiceBehavior" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPharmacyDatabaseService" contract="PS.IPharmacyDatabaseService" name="NetTcpBinding_IPharmacyDatabaseService" />
      <endpoint address="net.tcp://localhost:5571/PharmacyNotificationService" behaviorConfiguration="NetTcpBinding_IPharmacyDatabaseServiceBehavior" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPharmacyDatabaseService" contract="NS.IPharmacyNotification" name="NetTcpBinding_IPharmacyNotification" />
      <endpoint address="net.tcp://localhost:5581/DQService" behaviorConfiguration="NetTcpBinding_IPharmacyDatabaseServiceBehavior" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPharmacyDatabaseService" contract="BugsBox.Pharmacy.IServices.IDQService" name="DQService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>