<?xml version="1.0"?>
<LoggerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <LogTypeList>
    <string>BugsBox.Common.TraceLogger</string>
    <string>BugsBox.Common.log4Logger</string>
    <string>BugsBox.Common.ConsoleLogger</string>
  </LogTypeList>
</LoggerConfig>