<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="xs" type="BugsBox.Application.Core.XsSection, BugsBox.Application.Core"/>
  </configSections>
  <xs>
    <include assembly="BugsBox.Pharmacy.Models"/>
    <include assembly="BugsBox.Pharmacy.Services"/>
    <include assembly="BugsBox.Pharmacy.Service.Models"/>
  </xs>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %c %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\BugsBox.Pharmacy.ServiceHost.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="512KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;" />
        <footer value="[###############- L O G   E N D -###############]&#xD;&#xA;" />
        <ConversionPattern value="%date [%thread] %-5level %logger [%c] %newline %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="MutexName" value="qwertyuiol,mnbvghyuk,"/>
  </appSettings>
  <connectionStrings>
    <add name="Db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Yuanhetang;User ID=sa;Password=1111;Min Pool Size=1" />
    <add name="Dbdd" providerName="MySql.Data.MySqlClient" connectionString="Datasource=61.129.33.78;Database=Pharmacy.2013.08.14.2151;uid=root;pwd=1z2x3c4v5b" />
    <add name="DbSqlServerDemo" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Pharmacy;User ID=sa;Password=*********" />
    <add name="DbMySqlDemo" providerName="MySql.Data.MySqlClient" connectionString="Datasource=127.0.0.1;Database=Pharmacy.2013.07.16.2143;uid=root;pwd=123456" />
    <add name="DbOracleDemo" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=Pharmacy;PASSWORD=************;PERSIST SECURITY INFO=True;USER ID=Pharmacy" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="BugsBox.Pharmacy.Services.PharmacyService" behaviorConfiguration="BugsBox.Pharmacy.Services.PharmacyServcie.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5560/PharmacyService" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:5561/PharmacyDatabaseService"
        binding="netTcpBinding"
        bindingConfiguration="DuplexBinding"
        contract="BugsBox.Pharmacy.IServices.IPharmacyDatabaseService" />
      </service>

      <service name="BugsBox.Pharmacy.Services.PharmacyNotification" behaviorConfiguration="BugsBox.Pharmacy.Services.PharmacyServcie.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5570/PharmacyNotification" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:5571/PharmacyNotificationService"
        binding="netTcpBinding"
        bindingConfiguration="DuplexBinding"
        contract="BugsBox.Pharmacy.IServices.IPharmacyNotification" />
      </service>
      <service  name="BugsBox.Pharmacy.Services.DQService" behaviorConfiguration="BugsBox.Pharmacy.Services.PharmacyServcie.ServiceBehavior" >
        <host >
          <baseAddresses >
            <add baseAddress="http://127.0.0.1:5580/DQService" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://127.0.0.1:5581/DQService"
          binding="netTcpBinding"
          bindingConfiguration="DuplexBinding"
          contract="BugsBox.Pharmacy.IServices.IDQService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" closeTimeout="09:30:00"
							openTimeout="09:30:00" receiveTimeout="09:30:00" sendTimeout="09:30:00"
							transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
							hostNameComparisonMode="StrongWildcard" listenBacklog="10"
							maxBufferPoolSize="0" maxBufferSize="2147483647" maxConnections="10000"
							maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
											  maxStringContentLength="2147483647"
											  maxArrayLength="2147483647"
											  maxBytesPerRead="2147483647"
											  maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true"  inactivityTimeout="12:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BugsBox.Pharmacy.Services.PharmacyServcie.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceThrottling maxConcurrentSessions="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
