<?xml version="1.0"?>
<PharmacyServiceConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CurrentStore>
    <Id>5125e3a9-a37a-47c8-812d-444477f05e6e</Id>
    <Deleted>false</Deleted>
    <DeleteTime xsi:nil="true" />
    <Name>合肥富生生物科技有限公司</Name>
    <Decription>默认MD</Decription>
    <Code>MD</Code>
    <Enabled>true</Enabled>
    <Address>地址</Address>
    <Tel>13584197721</Tel>
    <Head>负责人</Head>
    <StoreTypeValue>1</StoreTypeValue>
    <StoreType>Branch</StoreType>
  </CurrentStore>
</PharmacyServiceConfig>