
  update [dbo].[SupplyUnit] set Valid=1 ,IsLock=0,OutDate=DATEADD(yy,1,GETDATE()),QualityAgreementOutDate=DATEADD(yy,1,GETDATE())
                    , AttorneyAattorneyOutDate =DATEADD(yy,1,GETDATE())
                    , GSPLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , GMPLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , BusinessLicenseeOutDate=DATEADD(yy,1,GETDATE())
                    , MedicineProductionLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , MedicineBusinessLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , InstrumentsProductionLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , InstrumentsBusinessLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , FoodCirculateLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , HealthLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , OrganizationCodeLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , LnstitutionLegalPersonLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , TaxRegisterLicenseOutDate=DATEADD(yy,1,GETDATE())
                    , MmedicalInstitutionPermitOutDate=DATEADD(yy,1,GETDATE()),IsApproval=1