<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPharmacyDatabaseService">
                    <reliableSession inactivityTimeout="10:10:10" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IPharmacyNotification" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IPharmacyDatabaseService1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5571/PharmacyNotificationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPharmacyNotification"
                contract="NS.IPharmacyNotification" name="NetTcpBinding_IPharmacyNotification" />
            <endpoint address="net.tcp://localhost:5561/PharmacyDatabaseService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPharmacyDatabaseService1"
                contract="PS.IPharmacyDatabaseService" name="NetTcpBinding_IPharmacyDatabaseService" />
        </client>
    </system.serviceModel>
</configuration>