<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="Db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Pharmacy08251740;User ID=sa;Password=sa" />
    <add name="Dbdd" providerName="MySql.Data.MySqlClient" connectionString="Datasource=61.129.33.78;Database=Pharmacy.2013.08.14.2151;uid=root;pwd=1z2x3c4v5b" />
    <add name="DbSqlServerDemo" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Pharmacy;User ID=sa;Password=*********" />
    <add name="DbMySqlDemo" providerName="MySql.Data.MySqlClient" connectionString="Datasource=127.0.0.1;Database=Pharmacy.2013.07.16.2143;uid=root;pwd=123456" />
    <add name="DbOracleDemo" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=Pharmacy;PASSWORD=************;PERSIST SECURITY INFO=True;USER ID=Pharmacy" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
