<?xml version="1.0"?>
<LoggerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LogTypeList>
    <string>BugsBox.Common.TraceLogger</string>
    <string>BugsBox.Common.log4Logger</string>
    <string>BugsBox.Common.ConsoleLogger</string>
  </LogTypeList>
</LoggerConfig>